@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

:root {
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}

* {
    font-family: "Outfit", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: var(--Light-gray);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p {
    margin: 0.8rem 0;
    color: var(--Grayish-blue);
    font-size: 15px;
    font-weight: 400;
}

.card img {
    height: 15rem;
    border-radius: 8px;
}
.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 0.8rem;
    margin: 1rem;
    max-width: 15rem;
    background-color: var(--White);
    border-radius: 16px;
    box-shadow: 0 0 64px rgba(0, 0, 0, 0.15);
}
.card h3 {
    font-weight: 700;
    color: var(--Dark-blue);
    margin-top: 1rem;
    margin-bottom: 0.2rem;
    width: 13rem;
}
